---
import MainLayout from "../layouts/MainLayout.astro";
import { sessionStore } from "../services/session-service";

if (!sessionStore.value?.jwtToken) {
  return Astro.redirect("/auth");
}
---

<MainLayout title="Landing">
  <h1>landing peich</h1>
  <button class="btn btn-primary">Botón HD</button>
</MainLayout>
